%login-register-container {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;  
}

$border-color: #EAEDF0;
$grey-text-color: rgba(127, 127, 127, 0.8);

%dash-component-margin-padding {
  padding-left: 1em;
  margin-bottom: 1em;
}
%list-pagination {
  float: right;
  display: inline-block;
  padding-right: 1em;
  text-align: left;
  margin: 0;
  .prev, .next {
    list-style: none;
    display: inline-block;
  }
  .prev {

  }
  .next {
   
  }
}

%cmd-container {
  height: 3em;
  
  
  line-height: 3em;  
}

%profile {

  float: right;
  .profile-box {
    display: inline-block;
    min-width: 30px;
    
    line-height: 29px;
    height: 30px;
    text-align: center;
  }
  .box-1 {
    
    
  }
  .box-2 {
    
    background-color: DimGray;
  }
}

%header-bar {
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid lightskyblue;
  .title-search-positioner {
    display: inline-block;
    .page-title {
      display: inline-block;
      position: absolute;
      left: 5px;
      top: 4px;
      font-family: monospace;
    }
    .search-form {
      display: inline-block;
      input {
        padding-left: 92px;
        width: 400px;
        border: 0;
        border-bottom: 1px solid transparent;
        &:focus {
          border: 1px solid skyblue;
          border-bottom: 1px solid transparent;
        }
      }
    }

  }

}
