%login-register-container {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;  
}

$border-color: #EAEDF0;
$grey-text-color: rgba(127, 127, 127, 0.8);

%dash-component-margin-padding {
  padding-left: 1em;
  margin-bottom: 1em;
}
%list-pagination {
  position:absolute;
  display: inline-block;
  right: 1em;
  text-align: left;
  margin: 0;
  .prev, .next {
    list-style: none;
    display: inline-block;
  }
  .prev {

  }
  .next {
   
  }
}

%cmd-container {
  height: 3em;
  
  
  line-height: 3em;  
}

%profile {

  float: right;
  .profile-box {
    display: inline-block;
    min-width: 30px;
    
    line-height: 30px;
    height: 30px;
    text-align: center;
  }
  .box-1 {
    
    
  }
  .box-2 {
    
    background-color: DimGray;
  }

}